<div class="workflow">
  <div class="actions">
    <i class="fas fa-ellipsis-v"></i>
  </div>
  <div class="workflow-type"><i class="far fa-newspaper"></i></div>
  <div class="workflow-name">{{name}}</div>
  <div class="workflow-details">
    <div class="detail">
        <i class="far fa-user"></i> {{user}}
    </div>
    <div class="detail" title="Jan 29 2018 6:00 PM">
        <i class="far fa-clock"></i> {{timeAgo}}
    </div>
    <div class="detail badge badge-warning" title="Revision 12345">
        <i class="fas fa-heartbeat"></i> For Approval
    </div>
  </div>
</div>